<style>
  div {
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: auto;  #The div should have a margin set to auto.

  }
</style>
<div></div>
_____________________________________________________________________________________________________________________________________________________________________________________
TASK IS:
Center the div on the page by adding a margin property with a value of auto.
__________________________________________________________________________________________________________________________________________________________________________________
Another positioning technique is to center a block element horizontally. One way to do this is to set its margin to a value of auto.

This method works for images, too. Images are inline elements by default, but can be changed to block elements when you set the display property to block.



